:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: .3em;
}

.hosts {
  display: flex;
  gap: .5em;
  justify-content: space-between;
}

.host {
  flex: 1;
}

.messages {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.message p {
  margin: .5em 0;
}

.chat {
  display: flex;
  align-items: flex-start;
}

.query {
  width: 100%;
}

.sender {
  font-weight: bolder;
}

.message-entry {
  padding: .5em;
}

.my-message {
  background-color: rgba(0, 0, 0, 0.1);
}

.their-message {
  background-color: rgba(0, 0, 0, 0.05);
}

.flashing-dots {
  padding-left: 3em;
}
